.match-day-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-input-container {
    display: inline-block;
    align-items: center;
    width: 50px;
}

.match-input {
    width: 75%;
}

.match-container {
    display: flex;
    width: 600px;
}

.input-container-left {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.input-container-right {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}